@import '/src/styles/commonStyles/ColorVariables';
@import '/src/styles/commonStyles/Text';

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 7px;
  border-top: 1px solid $grey;
}
