@import '/src/styles/commonStyles/ColorVariables';

.home {
  background-color: $black;
  overflow-x: hidden;
  &__container {
    display: grid;
    margin: 0 auto;
    align-items: center;
    max-width: 1000px;
  }
  &__hero {
    display: flex;
    justify-content: center;

    height: calc(100vh - 60px);
    width: 100%;

    background-color: $black;

    text-align: center;

    color: white;
    font-weight: 700;
    font-size: 36px;
  }
  &__header {
    position: fixed;
    text-align: center;
    margin-top: 40vh;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;
    background-color: white;

    padding: 60px 15px;
  }
  &__best_worst_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 15px;
  }
  &__list_header {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
}
