@import "/src/styles/commonStyles/ColorVariables";
@import "/src/styles/commonStyles/Text";

.convertor{
  padding: 30px 20px;
  border: 1px solid $grey;
  text-align: center;
  & h1{
    margin-bottom: 20px;
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__input{
    padding: 5px;
    border: 1px solid $grey;
    border-radius: 5px;
    width: 45%;
  }
  &__output{
    text-align: left;
    padding: 5px;
    border: 1px solid $grey;
    border-radius: 5px;
    width: 45%;
  }
  &__replace{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2px;
    margin: 5px auto;

    background-color: white;
    border: 1px solid $grey;
    & img{
      width: 20px;
      height: 20px;
    }
  }
  &__dropdown{
    position: relative;

  }
  &__dropdown_content{
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    background-color: white;
    padding: 10px 15px;
    border: 1px solid $grey;
    border-radius: 10px;
    position: absolute;
    transform: translate(-160px, 13px);
  }
  &__dropdown_item{
    margin-top: 5px;
  }
  &__button{
    padding: 3px 5px;
    background-color: white;
    border: 1px solid $grey;
  }
  &__selected_currency{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 3px 5px;
    background-color: white;
    border: 1px solid $grey;
    height: 100%;
  }
}