@import 'ColorVariables';

.default_text {
  font-size: 14px;
  color: $black;
  font-weight: 400;
}

.grey_text {
  font-size: 14px;
  color: $grey;
  font-weight: 400;
}

.bald_text {
  font-size: 15px;
  color: $black;
  font-weight: 700;
}

.price_green {
  font-size: 14px;
  color: green;
  font-weight: 400;
}

.price_red {
  font-size: 14px;
  color: red;
  font-weight: 400;
}
