@import "./src/styles/commonStyles/ColorVariables";
@import "./src/styles/commonStyles/Text";

.list_headers{
  display: flex;
  justify-content: space-between;
  background-color: $lightGrey;
  padding: 5px 10px;
  /*text-align: center;*/
  /*& button:first-child{
    text-align: left;
  }*/
  /*& button:last-child{
    text-align: right;
  }*/
  &__item{
    background-color: $lightGrey;
    display: flex;
    align-items: center;
    gap: 5px;

  }
}